header, footer {
  background: #12893c94;
  color: white;
  text-align: center;
  padding: 1px;
}

form {
  padding: 20px;
  background: rgba(8, 77, 27, 0.626);
  display: flex;
  gap: 10px;
}

#tasksContainer {
  padding: 20px;
}

.task {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-left: 5px solid hsla(157, 86%, 8%, 0.585);
}

.completed {
  text-decoration: line-through;
  color: rgb(9, 81, 34);
}